<div role="form">
	<div class="box-body">
		<field
			id="name"
			label="Nome"
			grid="12 6 4"
			placeholder="Informe o nome">
		</field>
		<field
			id="month"
			label="Mês"
			grid="12 6 4"
			placeholder="Informe o mês"
			type="number">
		</field>
		<field
			id="year"
			label="Ano"
			grid="12 6 4"
			placeholder="Informe o ano"
			type="number">
		</field>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary">
			Incluir
		</button>
		<button class="btn btn-info">
			Alterar
		</button>
		<button class="btn btn-danger">
			Excluir
		</button>
		<button class="btn btn-default">
			Cancelar
		</button>
	</div>
</div>