<content-header
	name="Ciclo de Pagamentos"
	small="Cadastro">
</content-header>

<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li>
				<a data-target="#tabList" data-toggle="tab">
					<i class="fa fa-bars"></i>
					Lista
				</a>
			</li>
			<li>
				<a data-target="#tabCreate" data-toggle="tab">
					<i class="fa fa-plus"></i>
					Incluir
				</a>
			</li>
			<li>
				<a data-target="#tapUpdate" data-toggle="tab">
					<i class="fa fa-pencil"></i>
					Alterar
				</a>
			</li>
			<li>
				<a data-target="#tabDelete" data-toggle="tab">
					<i class="fa fa-trash-o"></i>
					Excluir
				</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div
				class="tab-pane"
				id="tabList"
				ng-include="'billingCycle/list.html'">
			</div>
			<div
				class="tab-pane"
				id="tabCreate"
				ng-include="'billingCycle/form.html'">
			</div>
			<div
				class="tab-pane"
				id="tabUpdate"
				ng-include="'billingCycle/form.html'">
			</div>
			<div
				class="tab-pane"
				id="tabDelete"
				ng-include="'billingCycle/form.html'">
			</div>
		</div>
	</div>
</section>